// colors
$primary-white: #fff;
$primary-blue: #2bd0d0;
$primary-black: #34313d;
$primary-dark-purple: #3a3054;
$primary-purple: #4b3f6b;
$text-color: #9e9aa8;

// fonts
$main-font-family: "Poppins", Arial, sans-serif;
$main-font-size: 1.5rem;
$h1-large-size: 8rem;
$h1-small-size: 4.2rem;
$h2-large-size: 4rem;
$h2-small-size: 2.8rem;
$h3-size: 2.2rem;
