// colors
$text-black-color: #34313d;
$bg-blue-color: #3a3054;
$bg-blue-white-color: #4b3f6b;
$gray-color: #9e9aa8;
$main-bg-color: #eff1f7;
$btn-bg-color: #2bd0d0;
$white-color: #ffffff;
$btn-hover-bg-color: #9ae3e3;
$input-border-color: #f46363;

// fonts
$main-font-family: "Poppins", Arial, sans-serif;
$main-font-size: 2rem;
$main-links-size: 1.5rem;
$hero-title-size: 8rem;
$hero-text-size: 2.2rem;
$main-title-size: 4rem;
$bold-font-weight: 700;
$normal-font-weight: 500;
